name: update_readme

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *'

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - name: Say Something
        run: echo "Inspired by github.com/tw93/tw93"
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Set up Golang
        uses: actions/setup-go@v2
      - name: Write new content
        run: go run update_readme.go
        env:
          WAKATIME_TOKEN: ${{ secrets.WAKATIME_TOKEN }}
      - name: Commit and push if changed
        run: |-
          git diff
          git config --global user.email "tujipqy@gmail.com"
          git config --global user.name "sorcererxw"
          git pull
          git add -A
          git commit -m "Updated content" || exit 0
          git push

